.content-container {
    margin-left: 50px;
    margin-top: 20px;
    width: 900px;
    height: 550px;
    position: absolute;
    top: 35px;
    left: 350px;
}
.content-header{
    position: absolute;
    top: 60px;
    left: 350px;
}
.lower-content {
    width: 880px;
    margin-left: 10px;
    height: 440px;
    margin-top: 10%;
}

.title {
    height: 80px;
    border: 1px solid #D2D1D1;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.titleValue {
    display: flex;
    font-weight: bolder;
    font-size: large;
}

.titleLabel {
    width: 300px;
    font-weight: bolder;
    font-size: larger;
}

.mister, .mises, .miss {
    margin-right: 40px;
    display: flex;
    margin-top: 20px;
}

.name {
    margin-top: 10px;
    display: flex;
    height: 90px;
    font-weight: bolder;
    font-size: larger;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #D2D1D1;
    border-radius: 10px;
}

.contact {
    margin-top: 10px;
    display: flex;
    height: 90px;
    font-weight: bolder;
    font-size: larger;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #D2D1D1;
    border-radius: 10px;
}

.firstName, .lastName {
    margin-right: 100px;
}

.firstName .input, .lastName .input {
    margin-top: 10px;
}

.firstName .input input, .lastName .input input {
    height: 30px;
    width: 280px;
    border-radius: 3px;
    border: 1px solid #D2D1D1;
    padding-left: 20px;
}

input[type = radio] {
    cursor: pointer;
}

.email .input, .phone .input {
    margin-top: 10px;
}

.email, .phone {
    margin-right: 100px;
}

.email .input input, .phone .input input {
    height: 30px;
    width: 280px;
    border-radius: 3px;
    border: 1px solid #D2D1D1;
    padding-left: 20px;
}


input:focus {
    outline: none !important;
}

.position {
    display: flex;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #D2D1D1;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: larger;
}

.concultant, .projectManager, .developer {
    display: flex;
    margin-right: 30px;
}

.button {
    margin-top: 10px;
    display: flex;
    height: 40px;
    padding-left: 180px;
}

button {
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: medium;
    color: white;
    cursor: pointer;
}

button:focus {
    outline: none !important;
}

.button .cancel, .button .add {
    margin-left: 20px;
}

.cancel button {
    background-color: red;
}


.add button {
    background-color: green;
}
